src
__test__
docs
.rpt2_cache
tsconfig.json
tsconfig.module.json
tslint.json
.travis.yml
.github
.prettierignore
.vscode
build/docs
**/*.spec.*
coverage
.nyc_output
*.log
.editorconfig
rollup.config.ts
.eslintrc.json
